<p>Bienvenido {{name}} a Librería Punto & Coma</p>
<p>En su próximo inicio de sesion, por favor ingresar el siguiente password</p>

<h2> {{password}} </h2>

<p>Luego, ingresar al menú de usuario y cambiar su password a una que usted
  elija</p>

<p>Si éste mail no era destinado para usted, puede ignorarlo tranquilamente</p>