<p>Bienvenido a Librería Punto & Coma</p>
<p>Para confirmar su registro, por favor haga click en el siguiente link</p>
<p>
  <a href='{{url}}'>Confirmar su Usuario</a>
</p>

<p>Éste link es válido solo por 24 horas</p>

<p>Si éste mail no era destinado para usted, puede ignorarlo tranquilamente</p>